/* GENERAL */

body {
  height: 100vh;
  background: url(../public/img/logo_transparent.png) no-repeat bottom right;
  background-size: 40%;
}

/* HEADER */

header {
  height: 100px;
  position: sticky;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center start;
  padding-left: 20px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.098);
}

.menu-container ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 50px;
}

.sitename a, .menu-container ul li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.5rem;
}

.menu-container ul li a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-size: 1.3rem;
  transition: .3s;
}

.menu-container ul li a:hover, .menu-container ul li a:active {
  color: #d2360c;
  transition: .3s;
}

.sitename a span {
  color: #d2360c;
}

header img {
  height: 50px;
  margin-bottom: -2px;
}

/* SETUP PAGE */

main {
  text-align: center;
  max-width: 950px;
  margin: 50px auto 0 auto;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  cursor: default;
}

h1 {
  color: #d2360c;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.1rem;
  margin: 0;
}

label, textarea {
  display: block;
  text-align: left;
}

form {
  text-align: center;
}

.playerslist {
  width: 100%;
  border: 2px solid #000;
  resize: none;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 5px;
}

.inline {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.inline input {
  width: 50%;
  border: 2px solid #000;
  resize: none;
  border-radius: 10px;
  padding: 5px;
}

.button {
  background-color: #d2360c;
  color: #fff;
  padding: 10px 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
  transition: .3s;
}

.button:hover, .button:active {
  background-color: #fff;
  color: #d2360c;
}

/* ROUNDS PAGE */

.table-header td {
  writing-mode:vertical-rl;
  font-weight: bold;
  width: 50px;
}

.player {
  width: 150px;
  height: 50px;
  border-left: none;
}

.match-x {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #52a8c6;
}

.results-table, td {
  border-spacing: 0;
}

td {
  padding: 10px;
  border-left: 1px solid #ccc;
  cursor: default;
}

.table-content td {
  border-top: 1px solid #ccc;
}

.results-table, .nodata-message {
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.spacer {
  height: 100px;
}